# =========================
# OS
# =========================
.DS_Store
Thumbs.db
*.log

# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*.pyo
*.env
*.sqlite3
venv/
.env
*.egg-info/

# =========================
# Node / Vite frontend
# =========================
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Docker
# =========================
*.dockerignore
docker-compose.override.yml
**/Dockerfile.*
*.pid
*.sock
secrets/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# Misc / Build outputs
# =========================
*.pyc
*.pyd
*.class
*.o
*.so